<div class="password-reset">
    <v-progress-linear :indeterminate="true" height="5" id="progress" :active="loading"></v-progress-linear>
    <v-stepper v-model="e1">
        <v-stepper-header>
            <v-stepper-step step="1" :complete="e1 > 1">Enter your Email</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="e1 > 2">Enter Code</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">Enter Your new Password</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
            <v-stepper-content step="1">
                <v-form v-model="emailInputValid">
                    <v-container grid-list-xs>
                        <v-text-field v-model="email" :rules="[checkEmail]" type="email" label="Email"
                                      required></v-text-field>
                    </v-container>
                    <div class="text-xs-right">
                        <v-btn type="submit" color="primary" @click.native.prevent="sendRequest()">Continue</v-btn>
                    </div>
                </v-form>
            </v-stepper-content>
            <v-stepper-content step="2">
                <v-form v-model="codeInputValid">
                    <v-container grid-list-xs>
                        <v-text-field v-model="code" :rules="[checkCode]" type="text" label="Code"
                                      required></v-text-field>
                    </v-container>
                    <div class="text-xs-right">
                        <v-btn type="submit" color="primary" @click.native.prevent="sendToken()">Continue</v-btn>
                    </div>
                </v-form>
            </v-stepper-content>
            <v-stepper-content step="3">
                <v-form v-model="passwordInputValid">
                    <v-container grid-list-xs>
                        <v-text-field v-model="password" :rules="[checkPassword]" type="password" label="Password"
                                      required></v-text-field>
                        <v-text-field v-model="confirmPassword" :rules="[checkConfirmPassword]" type="password"
                                      label="Confirm Password" required></v-text-field>
                    </v-container>
                    <div class="text-xs-right">
                        <v-btn type="submit" color="primary" @click.native.prevent="resetPassword()">Continue</v-btn>
                    </div>
                </v-form>
            </v-stepper-content>
        </v-stepper-items>
    </v-stepper>
</div>
