<div class="search">
    <v-progress-linear :indeterminate="true" height="4" id="progress" :active="loading"></v-progress-linear>

    <h1 class="display-3">Result : {{title}}</h1>

    <br>
    <div v-for="(post, index) in posts" :key="post.id">
        <v-card hover>
            <v-card-title primaryTitle>
                <h2 class="display-1">
                    <router-link :to="{
                                name:'showPost',
                                    params:{
                                        category: post.category.title,
                                        title: post.slug,
                                        id: post.id
                                    }
                                }">
                        {{post.title}}
                    </router-link>
                </h2>
            </v-card-title>
            <v-subheader :key="post.id">
                <span class="list__tile">{{ post.category.title }}</span>
            </v-subheader>
            <v-container grid-list-lg>
                <p v-html="post.content"></p>
            </v-container>
            <div class="text-xs-right text--disabled">
                {{post.created_at}}
            </div>
        </v-card>
        <br>
    </div>

    <div class="text-xs-center">
        <v-pagination :length="totaPage" v-model="currentPage"
                      @input="paginate($event)" circle></v-pagination>
    </div>
    <br>
</div>
</div>
</div>
