<div class="password-edit">
    <v-progress-linear :indeterminate="true" height="5" id="progress" :active="loading"></v-progress-linear>
    <v-container>
        <v-layout row>
            <v-flex xs0 sm1 md2 xl4></v-flex>
            <v-flex xs12 sm10 md8 xl4>
                <v-card>

                    <v-card-title primaryTitle>
                        <h1 class="display-2 text-xs-center">
                            Edit Password
                        </h1>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-xl>
                            <v-form v-model="valid">
                                <v-text-field clearable data-vv-name="OldPassword" v-model="oldPassword" prepend-icon="vpn_key"
                                              :rules="[checkPassword]" type="password"
                                              label="Old Password" required>
                                </v-text-field>
                                <v-text-field clearable data-vv-name="NewPassword" v-model="newPassword" prepend-icon="vpn_key"
                                              :rules="[checkPassword]" type="password"
                                              label="New Password" required>
                                </v-text-field>
                            </v-form>
                        </v-container>
                        <div class="text-xs-right">
                            <v-btn color="primary" type="submit" @click.prevent="edit">Login</v-btn>
                        </div>
                    </v-card-text>

                </v-card>
            </v-flex>
            <v-flex xs0 sm1 md2 xl4></v-flex>
        </v-layout>
    </v-container>
</div>
