@import '~material-design-icons/iconfont/material-icons.css';
@import '~vuetify/dist/vuetify.min.css';
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
.fancybox-button--share {
  display: none !important;
}
.app {
  a {
    text-decoration: none;
  }

  img {

    &.responsive{
      max-width: 100%;
      height: auto;
    }

    &.img-thumbnail{
      border: 3px solid white;
      box-shadow: 1.5px 1.5px 1.5px 1.5px lightgray;
      border-radius: 5px;

      &:hover{
        box-shadow: 2px 2px 2px 2px darkgray;
        transition: box-shadow .3s
      }

    }
  }

  #progress {
    position: fixed;
    z-index: 1;
    left: 0px;
    @media (min-width: 960px) {
      top: 50px
    }
    @media (max-width: 960px) {
      top: 34px;
    }
    @media (max-width: 600px) {
      top: 42px;
    }
  }

}
